body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 64px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container {
  position: relative;
  width: 100%;
}

video, canvas {
  border: 1px solid #444;
  margin: 10px 0;
}

#video {
  width: 100%;
  height: auto;
  background: black;
}

#overlay {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  pointer-events: none;
}

.controls {
  display: flex;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
}

input {
  flex-grow: 1;
  width: 100px;
  padding: 5px;
  font-size: inherit;
}

button {
  flex-grow: 0;
  padding: 5px 10px;
  font-size: inherit;
}

#output {
  margin-top: 10px;
  font-weight: bold;
}

#gainValue {
  margin-left: 10px;
  font-weight: bold;
  color: yellow;
}

#brightnessTimeline{
  width: 600px;
  height: 40px;
}

#brightnessHistogram{
  width: 512px;
  height: 256px;
}

#histogramCanvas{
  width: 600px;
  height: 200px;
}

#dThresholdValue {
  margin-left: 10px;
  font-weight: bold;
  color: yellow;
}

.version-label {
  color: #eee;
  text-align: right;
  margin-top: 10px;
}
